.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 18px;
	background-color: #fff;
	border-radius: 28px;
	margin-top: 41px;
	cursor: pointer;
	min-height: 55px;
}

.title {
	color: #69705E;
	text-transform: uppercase;
	font-weight: 700;
}